{% extends "base.html" %}

{% block content %}
  <h1>Latest Observations during past 24h</h1>

  <table>
    <th>City</th>
    <th>24h Average Celsius</th>
    <th>24h Highest Celsius</th>
    <th>24h Lowest Celsius</th>
    {% for city in data %}
      <tr>
        <td>{{ city.survey_point__name }}</td>
        <td>{{ city.temperature__avg|floatformat:"0" }}</td>
        <td>{{ city.temperature__min }}</td>
        <td>{{ city.temperature__max }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
