{% extends "base.html" %}

{% block content %}
  <h1>Latest Observations</h1>

  <table>
    <th>City</th>
    <th>Last Observation</th>
    <th>24h Average Celcius</th>
    <th>24h Highest Celsius</th>
    <th>24h Lowest Celsius</th>
    {% for city in data %}
      <tr>
        <td>{{ city.name }}</td>
        <td>{{ city.latest }}</td>
        <td>{{ city.avg }}</td>
        <td>{{ city.max }}</td>
        <td>{{ city.min }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
