{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Welcome to WeatherSurvey!</h1>
    <h2>Your number one source of crowdsourced weather data</h2>
    <h3>(propably)</h3>
  </div>
  <div class="col-md-6">
    <h4 class="home">WeatherSurvey is a service carefully designed to meet the needs of those,
    who don't buy into mainstream weather services.
    </h4>
    <h4>We fight the power with one Observation at the time!</p>
  </div>
  <div class="col-md-6">
    <table>
      <th>City</th>
      <th>Celsius (Last Observation)</th>
      {% for city in data %}
        <tr>
          <td>{{ city.survey_point }}</td>
          <td>{{ city.temperature }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock content %}
